*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.buttom1{
  font-size: 18px;
  width: 120px;
  padding: 10px 0px;
  color: #fff;
  background-color: #ff0000;
  border: none;
}

.buttom2{
  font-size: 18px;
  width: 120px;
  padding: 10px 0px;
  color: #fff;
  background-color: transparent;
  border: 1px solid #fff;
}

.section1_spam{
  color: #d20000;
}