.navigate-nav{
    padding-top: 30px;
}
.navigate-ul{
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}
.navigate-li{
    font-family: 'Lobster';
    font-size: 20px;
    list-style: none;
}
.navigate-link{
    text-decoration: none;
    color: #fff;
}

.paginationElement{
    font-size: 18px;
    cursor: pointer;
}

.paginationContainer{
    display: flex;
    width: 85%;
    margin: 30px auto 0; 
    justify-content: space-between;
    padding-bottom: 15px;
    border-bottom: 3px solid black;
}
.active{
    border-bottom: 2px solid black;
}
.containerProductos{
    width: 85%;
    margin: 0 auto;
    display: flex;
    padding: 20px 0;
}
.containerProducto{
    border: 1px solid #000;
    border-radius: 10px;
    padding: 20px;
    width: 270px;
}
.productoImg{
    display: block;
    margin: -20px auto 0;
}
.productoTitle, .productoDescripcion{
    margin: 15px 0;
}
.productoFooter{
    display: flex;
    justify-content: space-between;
}
.productoPrecio{
    font-size: 20px;
}
.productoBoton{
    background-color: #000;
    color: #fff;
    border-radius: 30px;
    padding: 3px 15px;
    font-size: 17px;
}